.business{
    margin-top: -35%;
    margin-right: 30%;
}
.sport{
    margin-top: -35%;
    margin-right: 30%;
}
.tech{
    margin-top: -35%;
    margin-right: 30%;
}
.health{
    margin-top: -35%;
    margin-right: 30%;
}