@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

.card {
    max-width: 500px;
    margin: auto;
    color: black;
    border-radius: 20 px;
}

p {
    margin: 0px;
}

.container .h8 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

/* .btn.btn-primary {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-image: linear-gradient(to right, #F73F52 0%, #eb9ca5 51%, #dc9299 100%);
    border: none;
    transition: 0.5s;
    background-size: 200% auto;

} */


/* .btn.btn.btn-primary:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
} */



/* .btn.btn-primary:hover .fas.fa-arrow-right {
    transform: translate(15px);
    transition: transform 0.2s ease-in;
} */

.form-control {
    color: rgb(0, 0, 0);
    /* background-color: #223c603b; */
    border: 2px solid ;
    /* height: 60px; */
    padding-left: 20px;
    vertical-align: middle;
}

/* .form-control:focus {
    color: white;
    background-color: #0C4160;
    border: 2px solid #2d4dda;
    box-shadow: none;
} */

.text {
    font-size: 14px;
    font-weight: 600;
}

::placeholder {
    font-size: 14px;
    font-weight: 600;
}