@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

.card {
    max-width: 500px;
    margin: auto;
    color: black;
    border-radius: 20 px;
}

p {
    margin: 0px;
}

.container .h8 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.form-control {
    color: rgb(0, 0, 0);
    /* background-color: #223c603b; */
    border: 2px solid ;
    /* height: 60px; */
    padding-left: 20px;
    vertical-align: middle;
}


.text {
    font-size: 14px;
    font-weight: 600;
}

::placeholder {
    font-size: 14px;
    font-weight: 600;
}