.regstyle{
    margin-top:-35%;
    width: 65%;
    margin-left: 10%;
    background-image: url('https://thumbs.dreamstime.com/b/online-news-article-tablet-screen-electronic-newspaper-magazine-latest-press-media-mockup-digital-portal-151771038.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.reg{
    width: 30vw;
    margin-top: 30%;
    margin-left: -20%;
}