.my-custom-scrollbar {
    height: 75vh;
    overflow: auto;
  }

  .sidebarr{
    border:0.5px solid;
    background-color:#EEEEEE;
    border-radius:6px;
  }
  .inner div img {
    width:100%;
  }

  .imgedit{
    width:100%;
    border-radius:6px;
  }